body {
  font-family: "Edu NSW ACT Foundation", cursive;
  background-image: url("./Components/icons/background2.png");
  background-repeat: repeat;
  background-size: cover;
}

@media (max-width: 900px) {
  body {
    background-image: url("./Components/icons/background3.png");
    background-repeat: repeat;
    background-size: cover;
  }
}
