body {
  font-family: "Edu NSW ACT Foundation", cursive;
  background-image: url("./Components/icons/back5.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  color: white;
  /* background-color: #a8a764; 
  background-blend-mode:luminosity;  */
}

