.faq-container {
  margin-left: 100px;
  background-color: #2d567c91;
  border-radius: 8px;
  width: 750px;
  margin-top: 60px;
  margin-left: 200px; 
  color: black; 
}
.faq-question {
  cursor: pointer;
  font-size: 24px;
}
.faq-answer {
  font-size: 24px;
  color: white;
  
}

.faq-question:hover strong {
  color: #810a4f;
}
@media (max-width: 768px) {
  .faq-container {
    margin-left: 20px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 18px;
  }
}
