.faq-container {
  margin-left: 100px;
  background-color: #ffffffbd;
  border-radius: 8px;
  width: 700px;
  margin-top: 20px;
  margin-left: 200px;
}
.faq-question {
  cursor: pointer;
  font-size: 22px;
}
.faq-answer {
  font-size: 22px;
  color: #000000;
  
}

.faq-question:hover strong {
  color: #81750a;
}
@media (max-width: 768px) {
  .faq-container {
    margin-left: 20px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 18px;
  }
}
