.faq-container{
  margin-left: 100px;
}
.faq-question {
  cursor: pointer;
  font-size: 22px;
}
.faq-answer{
    font-size: 22px;
    color: #ffffff;
    mix-blend-mode: color white;
}

.faq-question:hover strong {
  color: #ffffff;
}
