.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: #666;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .social-links a {
    margin: 0 5px;
    color: #666;
    font-size: 18px;
  }
  
  .social-links a:hover {
    color: #00aced;
  }
  