.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-right: 550px;  
}

#moto {
  width: 700px;
  background-color: transparent;
}

#title {
  font-family: "Bungee Spice", cursive; 
}

.display-2 {
  font-size: 3.5rem;
  font-weight: bold;
}

@media (max-width: 1280px) {
  .homeContainer {
    flex-direction: column;
    margin-right: 0;
    margin-left: 20px;
  }

  #moto {
    width: auto;
    max-width: 700px;
  }

  .display-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .homeContainer {
    flex-direction: column;
    margin-right: 0;
    margin-left: 20px;
  }

  #moto {
    width: auto;
    max-width: 700px;
  }

  .display-2 {
    font-size: 2.5rem;
  }
}
